# Local .terraform directories
*/.terraform/

.terraform/

# .tfstate files
*.tfstate
.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which may contain sensitive data (passwords, secrets)
*.tfvars.json

# Ignore override files (used to override resources locally)
override.tf
override.tf.json
*_override.tf
_override.tf.json

# Ignore Terraform lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include specific override files you want to track (uncomment to use)
# !example_override.tf

# Terraform plan output files (e.g., terraform plan -out=tfplan)
tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
